<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center"><img src="{% static 'img/logo.png'%}" width="100px"  alt="">DJANGO SHOPING</div>
    <div class="row">
        <div class="col"><a href="electronica/" class="btn btn-info w-100 p-3">Electronica</a></div>
        <div class="col"><a href="juguete/" class="btn btn-warning w-100 p-3">Juguete</a></div>
        <div class="col"><a href="" class="btn btn-danger w-100 p-3">Ropa</a></div>
    </div>
    
</body>
</html>